<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>Ocean View Resort</display-name>

    <welcome-file-list>
        <welcome-file>pages/login.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>com.icbt.servlet.authServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.icbt.servlet.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationServlet</servlet-name>
        <servlet-class>com.icbt.servlet.reservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>billingServlet</servlet-name>
        <servlet-class>com.icbt.servlet.billingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dashboardServlet</servlet-name>
        <servlet-class>com.icbt.servlet.dashboardServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>dashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>billingServlet</servlet-name>
        <url-pattern>/billing</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ReservationServlet</servlet-name>
        <url-pattern>/reservation</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.icbt.filter.authFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


</web-app>